{% extends "base.html" %}
{% block content %}
<h1> Soldaat van Oranje</h1>
<div class="jumbotron">
    <p>Een groepje studenten leidt een onbezorgd leventje in Leiden, als de Tweede Wereldoorlog uitbreekt. Allemaal doen ze hun best zich aan de nieuwe omstandigheden aan te passen. De meesten gaan in het studentenverzet, met wisselend succes; Alex meldt zich voor de strijd aan het oostfront; Jacques, waarover tijdens het begin van de film subtiel wordt aangegeven dat hij een bangelijk karakter heeft, vindt al dat verzet flauwekul en blijft onverstoorbaar doorstuderen. Erik, de hoofdpersoon, ontsnapt met Guus, de praeses van zijn studentenvereniging, naar het Verenigd Koninkrijk; voert samen met Guus spionageacties in Nederland uit - een onderdeel van het Englandspiel - die voornamelijk een Britse afleidingsmanoeuvre blijken te zijn; en brengt het tot adjudant van koningin Wilhelmina. Als hij in Leiden terugkeert, is van de oude vriendenclub nog alleen de passieve Jacques over. Waarna de vraag rest of dit het allemaal waard is geweest.</p>
</div>
{% endblock %}