{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Wil je een film toevoegen?</h1>
  <p>Vul onderstaand formulier in om een film toe te voegen aan de database:</p>
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.titel.label }} {{ form.titel() }} <br>
      {{ form.jaartal.label }} {{ form.jaartal() }} <br>
      {{ form.regisseur.label }} {{ form.regisseur() }} <br>
      {{ form.youtube.label}} {{form.youtube()}} <br>
      {% if current_user.is_authenticated %}
      {{ form.submit() }}
      {% endif %}
  </form>
</div>
{% endblock %}